# ======================================
# Virtual Environment
# ======================================

venv/
env/
ENV/

# ======================================
# Python Cache
# ======================================

__pycache__/
*.py[cod]
*$py.class

# ======================================
# Jupyter Notebook
# ======================================

.ipynb_checkpoints/

# ======================================
# VS Code
# ======================================

.vscode/

# ======================================
# Streamlit
# ======================================

.streamlit/

# ======================================
# TensorBoard Logs
# ======================================

logs/

# ======================================
# Temporary Files
# ======================================

*.log
*.tmp

# ======================================
# Environment Variables
# ======================================

.env

# ======================================
# Build Files
# ======================================

build/
dist/

# ======================================
# Test Cache
# ======================================

.pytest_cache/

# ======================================
# Operating System Files
# ======================================

.DS_Store
Thumbs.db